@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-blue-a700;
$mdc-theme-secondary: $material-color-light-blue-800;

@import '@material/theme/mdc-theme';
@import '@material/ripple/mdc-ripple';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';
@import '@material/form-field/mdc-form-field';
