@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-blue-a700;
$mdc-theme-secondary: $material-color-light-blue-800;

@import '@material/theme/mdc-theme';
@import '@material/drawer/mdc-drawer';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';
@import '@material/typography/mdc-typography';
@import '@material/list/mdc-list';
@import '@material/ripple/mdc-ripple';

html,
body {
  @include mdc-typography-base;
}

p {
  @include mdc-typography(body1);
}

.root-dismissible {
  display: flex;
  height: 100vh;

  .demo-app-content-dismissible {
    height: 100%;
    overflow: auto;
  }

  .demo-main-dismissible {
    flex: auto;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
}
