/*
 * Based on button.scss
 * https://material-components-web.appspot.com/button.html
 */

@import "@material/button/mdc-button";

.button-examples {
  .mdc-button {
    margin: 8px 16px;
  }

  .demo-ink-color {
    @include mdc-button-icon-color(white);
    @include mdc-button-ink-color(orange);
    @include mdc-states(orange);
  }

  .demo-icon-color {
    @include mdc-button-icon-color(orange);
  }

  .big-round-corner-button {
    @include mdc-button-shape-radius(18px);
  }
}
