.demo-card {
  width: 350px;
  margin: 48px 0;

  &__primary {
    padding: 1rem;
  }

  &__title,
  &__subtitle {
    margin: 0;
  }

  &__secondary {
    padding: 0 1rem 8px;
  }

  &__secondary,
  &__subtitle {
    color: rgba(0, 0, 0, 0.54);
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  }

  &-shaped {
    border-radius: 24px 8px;
  }
}
