.elevations-demo-surfaces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 48px;

  .elevation-demo-surface {
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    margin: 15px;
    min-height: 100px;
    min-width: 187px;
  }
}

#elevation-demo-hover-el {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 45px 15px 15px;
  padding: 2rem;
}
