.demo-fab-shaped--one:not(.mdc-fab--extended) {
  border-radius: 50% 0;
  margin-right: 20px;
}

.demo-fab-shaped--two:not(.mdc-fab--extended) {
  border-radius: 8px;
  margin-right: 20px;
}

.demo-fab-shaped--three {
  border-radius: 12px;
}
