.demo-grid {
  background-color: #ddd;
  margin-bottom: 32px;

  &.max-width {
    max-width: 1280px;
  }

  .demo-cell {
    box-sizing: border-box;
    background-color: #666;
    height: 200px;
    padding: 8px;
    color: white;
    font-size: 1.5em;
  }

  .demo-parent-cell {
    position: relative;
    background-color: #aaa;

    > span {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 1.5em;
      color: white;
    }

    .demo-child-cell {
      position: relative;

      > span {
        position: absolute;
        bottom: 8px;
        right: 8px;
        color: #ddd;
      }
    }
  }
}
