.ripple-demo-surface {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 1rem;
  user-select: none;
  width: 200px;
}

.ripple-demo-icon {
  cursor: pointer;
  font-size: 24px;
  height: 24px;
  overflow: visible;
  padding: 12px;
  width: 24px;

  &::before,
  &::after {
    height: 100%;
    left: calc(50% - 50%);
    top: calc(50% - 50%);
    width: 100%;
  }

  &.mdc-ripple-upgraded::before,
  &.mdc-ripple-upgraded::after {
    height: var(--mdc-ripple-fg-size, 100%);
    left: var(--mdc-ripple-left, calc(50% - 50%));
    top: var(--mdc-ripple-top, calc(50% - 50%));
    width: var(--mdc-ripple-fg-size, 100%);
  }

  &.mdc-ripple-upgraded::after {
    height: var(--mdc-ripple-fg-size, 100%);
    width: var(--mdc-ripple-fg-size, 100%);
  }
}
