.select-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .mdc-select {
    margin-right: 5em;
  }

  .select-filled-shaped {
    @include mdc-text-field-shape-radius(16px, false);
  }

  .select-outlined-shaped {
    @include mdc-notched-outline-shape-radius(28px, true);
  }
}
