.text-field-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .textfield-filled-shaped {
    @include mdc-text-field-shape-radius(16px, false);
  }

  .textfield-outlined-shaped {
    @include mdc-notched-outline-shape-radius(28px, true);
  }
}
