.top-app-bar-demo-grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;

  .top-app-bar-demo {
    display: inline-block;
    flex: 1 1 45%;
    justify-content: space-around;
    min-height: 200px;
    min-width: 400px;
    padding: 15px;

    .top-app-bar-frame {
      margin-top: 10px;
      width: 100%;
      height: 200px;
    }
  }
}
