@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-blue-a700;
$mdc-theme-secondary: $material-color-light-blue-800;

@import '@material/theme/mdc-theme';
@import '@material/drawer/mdc-drawer';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';
@import '@material/typography/mdc-typography';
@import '@material/list/mdc-list';
@import '@material/ripple/mdc-ripple';

html,
body {
  @include mdc-typography-base;
}

p {
  @include mdc-typography(body1);
}

#root {
  height: 100vh;
  display: flex;
}

.root {
  display: flex;
  flex: 1;
}

.app {
  overflow: auto;
  flex: auto;
}

.demo-main {
  padding-left: 18px;
  padding-right: 18px;
}
