@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-blue-a700;
$mdc-theme-secondary: $material-color-light-blue-800;
$table-header: $material-color-blue-a100;

@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/data-table/mdc-data-table';
@import '@material/dialog/mdc-dialog';
@import '@material/drawer/mdc-drawer';
@import '@material/elevation/mdc-elevation';
@import '@material/fab/mdc-fab';
@import '@material/form-field/mdc-form-field';
@import '@material/icon-button/mdc-icon-button';
@import '@material/image-list/mdc-image-list';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/list/mdc-list';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/menu/mdc-menu';
@import '@material/radio/mdc-radio';
@import '@material/ripple/mdc-ripple';
@import '@material/select/mdc-select';
@import '@material/slider/mdc-slider';
@import '@material/snackbar/mdc-snackbar';
@import '@material/switch/mdc-switch';
@import '@material/tab-bar/mdc-tab-bar';
@import '@material/tab-indicator/mdc-tab-indicator';
@import '@material/tab-scroller/mdc-tab-scroller';
@import '@material/tab/mdc-tab';
@import '@material/textfield/mdc-text-field';
@import '@material/theme/mdc-theme';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/typography/mdc-typography';

html,
body {
  @include mdc-typography-base;
}

body {
  @include mdc-typography(body2);
}

h1 {
  @include mdc-typography(headline1);
}

h2 {
  @include mdc-typography(headline2);
}

h3 {
  @include mdc-typography(headline3);
}

h4 {
  @include mdc-typography(headline4);
}

h5 {
  @include mdc-typography(headline5);
}

h6 {
  @include mdc-typography(headline6);
}

.layout {
  display: flex;
  height: 100vh;

  .mt-main {
    flex: auto;
  }

  .mt-content {
    height: 100%;
    overflow: auto;
  }

  .mt-app-bar {
    position: absolute;
    z-index: 7;
  }
}

iframe {
  border: 1px solid black;
  height: 500px;
  width: 100%;
}

pre {
  @include mdc-typography(body2);

  background-color: rgba(0, 0, 0, 0.1);
  border-left: 3px solid $mdc-theme-secondary;
  overflow: auto;
  padding: 0.5em;
}

.hide {
  display: none;
  visibility: hidden;
}

.table-props {
  border-collapse: collapse;
  padding-bottom: 20px;
  width: 100%;

  td,
  th {
    border: 1px solid rgba(0, 0, 0, 0.87);
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background: $table-header;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
  }
}

.example {
  margin-top: 30px;

  .mt-tab {
    margin-bottom: 40px;
  }

  > section {
    margin: 20px;
  }
}

.section-title {
  border-bottom: solid 1px;
}

@import './styles/button';
@import './styles/card';
@import './styles/chip';
@import './styles/elevation';
@import './styles/fab';
@import './styles/image-list';
@import './styles/layout-grid';
@import './styles/list';
@import './styles/ripple';
@import './styles/select';
@import './styles/snackbar';
@import './styles/textfield';
@import './styles/top-app-bar';
